@import url(./../assets/fonts/SpaceMono.css);
@import url(./../assets/fonts/NerdFont.css);

:root {
    --font-family: SpaceMono;
    --font-size: 16px;

    font-family: SpaceMono;
    font-size: var(--font-size);

    /* COLORS */
    --col-primary: color(display-p3 0.148 0.298 0.698);
    --col-secondary: hsl(250 50% 100%);

    --col-background: var(--col-secondary);
    --col-text: var(--col-primary);

    background-color: var(--col-background);
    color: var(--col-text);
}

* {
    font-size: var(--font-size) !important;
}

a {
    color: currentColor;
    text-decoration: underline;
}

a::after {
    font-family: NerdFont;
    content: "󰴚";
    text-decoration: none;
    padding-left: 8px;
}

a[target="_blank"]::after {
    font-family: NerdFont;
    content: "";
    text-decoration: none;
    padding-left: 8px;
}

a.file::after {
    font-family: NerdFont;
    content: "󱅷";
    text-decoration: none;
    padding-left: 8px;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-decoration: underline;
    color: var(--col-text);
    cursor: pointer;
}

button.copy::after {
    font-family: NerdFont;
    content: "󱉫";
    text-decoration: none;
    padding-left: 8px;
}

button.copy:active {
    opacity: 0.8;
}

span.coppied::after {
    content: "coppied";
    font-size: 12px;
    padding-left: 12px;
    transition-property: opacity;
    animation-name: coppied;
    animation-duration: 1s;
    opacity: 0;
}

@keyframes coppied {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.spacer {
    min-width: 30px;
    min-height: 30px;
}

.body .spacer {
    min-width: var(--font-size);
    min-height: var(--font-size);
}

/* .faded {
    color: var(--col-tertiary);
} */

.content {
    --wmar: 30px;
    --side-pad: 14px;
    --border-size: 2px;

    width: calc(100vw - (var(--wmar) + (var(--wmar) - var(--side-pad) - var(--border-size))));
    max-width: 700px;
    min-height: 80vh;
    margin: 10vh auto;
    padding-left: var(--side-pad);
    border-left: var(--border-size) solid currentColor;

    display: flex;
    flex-direction: column;
}

.body,
.steps {
    display: flex;
    flex-direction: column;

    white-space: nowrap;
}

.steps {
    margin-left: 18px;
}

footer {
    width: 100%;
    margin-top: auto;
    --font-size: 12px;

    white-space: nowrap;
}


h1 {
    --font-size: 26px;
    font-weight: bold;
}

h2 {
    --font-size: 20px;
    font-weight: bold;
}